<%- include('__header') %>
<link href="/assets/css/styles1.css" rel="stylesheet" type="text/css">
<%- include('__header_end') %>

<!-- content -->
<div class="row">
    <div class="col-12">

        <ol class="progress progress--medium">
            <li class="is-complete" data-step="1">
              ลงทะเบียนคำร้อง
            </li>
            <li class="is-complete" data-step="2">
              ยืนยันข้อมูล
            </li>
            <li data-step="3" class="is-active">
              ยื่นคำร้องเสร็จสิ้น
            </li>
          </ol>

        <div class="card">
        
            <div class="card-body py-0 text-cen">
                <div class="pad-3">
                    <i class="icon-checkmark3 ico-large text-success"></i>
                <br>
                <br>
                
                <h2>ยื่นคำร้องสำเร็จ</h2>
                <h6>ผู้ยื่น นายทำดี ได้ดี</h6>
                <h6>วันที่ยื่น 27 มีนาคม 2563</h6>
                <h6>ท่านสามารถตรวจสอบสถานะคำร้องด้วยการเข้าสู่ระบบ ดังนี้</h6>
                <h6>username : เลขบัตรประชาชน  password : วันเดือนปีเกิด รูปแบบ ววดดปปปป(พ.ศ.)</h6>
                <br>
           
            </div>
            </div>

            <div class="row">
                <div class="col-md-12 text-cen">
                    <a href="/" class="btn btn-primary mb-3">กลับหน้าหลัก</a>
                </div>
              </div>


        </div>

    </div>

</div>
<!-- /content -->

<%- include('__footer') %>