<%- include('__header') %>
<link href="/assets/css/styles1.css" rel="stylesheet" type="text/css">
<%- include('__header_end') %>

<!-- content -->
<div class="row">
    <div class="col-12">

      <ol class="progress progress--medium">
              <li class="is-complete" data-step="1">
                ลงทะเบียนคำร้อง
              </li>
              <li class="is-active" data-step="2">
                ยืนยันข้อมูล
              </li>
              <li data-step="3" class="progress__last">
                ยื่นคำร้องเสร็จสิ้น
              </li>
            </ol>

        <div class="card">
            <!-- <div class="card-header header-elements-inline">
                <h6 class="card-title">ลงทะเบียนคำร้อง ขั้นตอนที่ 1</h6>
            </div> -->

            

            
            <div class="card-body py-0">
                <form class="pad-3">
                    <div class="row">
                      <div class="col-md-4">
                          <label>ชื่อ</label>
                            นายทำดี
                      </div>
                      <div class="col-md-4">
                        <label>นามสกุล</label>
                            ได้ดี
                      </div>
                    </div>
                    
                    <div class="row">
                      <div class="col-md-4">
                        <label>ตำแหน่ง</label>
                            นักวิชาการคอมพิวเตอร์
                      </div>
                      <div class="col-md-4">
                        <label>ประเภท</label>
                            วิชาการ
                      </div>
                      <div class="col-md-4">
                        <label>ระดับ</label>
                            ปฏิบัติการ
                      </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <label>สังกัด</label>
                            สำนักเทคโนโลยีสารสนเทศ
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <label>เลขบัตรประชาชน</label>
                            1800000999000
                        </div>
                        <div class="col-md-4">
                            <label>วันเดือนปีเกิด</label>
                            10 มกราคม 2533
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <label>ที่อยู่ที่สามารถติดต่อได้</label>
                           99 ซอยรัชดา 32 ถนนรัชดาภิเษก แขวงจันทรเกษม เขตจตุจักร กรุงเทพฯ 10900
                           
                        </div>
                    </div>

                    <br>
                    <br>
                    <h6 class="card-title">มีความประสงค์ขอเข้าพัก</h6>
                 
                    <div class="col-md-4 offset-md-1">
                    <div class="row">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1" checked>
                            <label class="form-check-label" for="inlineCheckbox1">อาคารชุดที่พักตลิ่งชัน</label>
                        </div>
                    </div>

                    <div class="row">
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2" checked>
                        <label class="form-check-label" for="inlineCheckbox2">อาคารชุดที่พักเสนานิคม</label>
                      </div>
                    </div>
                      <div class="row">
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
                        <label class="form-check-label" for="inlineCheckbox3">อาคารชุดที่พักเสนานิคม2</label>
                      </div>
                    </div>
                  </div>
                    <br>
                    <br>
                    <h6 class="card-title">เอกสารประกอบ</h6>
                 
                    <div class="col-md-4 offset-md-1">
                    <div class="row">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1" checked>
                            <label class="form-check-label" for="inlineCheckbox1">สำเนาบัตรข้าราชการ</label>
                        </div>
                    </div>

                    <div class="row">
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
                        <label class="form-check-label" for="inlineCheckbox2">สำเนาเอกสารการเปลี่ยนชื่อ (ถ้ามี)</label>
                      </div>
                    </div>
                      <div class="row">
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3" checked>
                        <label class="form-check-label" for="inlineCheckbox3">สำเนาทะเบียนบ้าน</label>
                      </div>
                    </div>
                  </div>

                  <br>
                  <br>
                  <h6 class="card-title">แนบไฟล์</h6>
                  <div class="col-md-4 offset-md-1">
                    <div class="custom-file">
                        <label>doc123.pdf</label>
                        <!-- <div class="invalid-feedback">Example invalid custom file feedback</div> -->
                      </div>
                  </div>


                  </form>
                  <br>
                  <br>
                  <br>
                  <div class="row">
                    <div class="col-md-12 text-cen">
                        <a href="/appform/register" class="btn btn-warning mb-3">แก้ไขข้อมูล</a>
                      <a href="/appform/register3" class="btn btn-success mb-3">ยืนยันข้อมูล</a>
                      <a href="/" class="btn btn-danger mb-3">ยกเลิก</a>
                    </div>
                  </div>
          </div>
        </div>

    </div>

</div>
<!-- /content -->

<%- include('__footer') %>