<%- include('__header') %>
<%- include('__header_end') %>

<!-- content -->
<div class="row">
    <div class="col-12">

        <div class="card">
            <div class="card-header header-elements-inline">
                <h6 class="card-title">ตรวจสอบสถานะใบคำร้อง</h6>
            </div>

            <div class="card-body py-0">



                <div class="row mb-3">
                    <div class="col">
                        <table class="table table-bordered table-striped table-sm">
                            <thead class="bg-primary">
                                <tr>
                                    <th style="width: 20px;" class="text-center">#</th>
                                    <th class="text-center">วันที่ยื่น</th>
                                    <th class="text-center">สถานะ</th>
                                    <th class="text-center">วันที่ยื่นเอกสาร</th>
                                    <th class="text-center" style="width: 60px;">ยกเลิกคำร้อง</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th class="text-center">1</th>
                                    <th class="text-center">27 มี.ค. 63</th>
                                    <th class="text-center">รออนุมัติ</th>
                                    <th class="text-center">27 มี.ค. 63</th>
                                    <th class="text-center"><button class="btn btn-danger btn-sm btn_delete"><i
                                                class="icon-cross3"></i></button></th>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <br>
                <br>
                <br>
            </div>
        </div>

    </div>

</div>
<!-- /content -->

<%- include('__footer') %>