<%- include('__header') %>
<%- include('__header_end') %>

<!-- content -->
<div class="row">
    <div class="col-12">

        <div class="card">
            <div class="card-header header-elements-inline">
                <h6 class="card-title">ข้อมูลห้องพัก / ผู้อยู่อาศัย</h6>
            </div>

            <div class="card-body py-0">
                <div class="card">
                    <div class="card-header bg-primary text-white header-elements-inline">
                        <h6 class="card-title">ข้อมูลห้องพัก</h6>
                    </div>

                    <div class="card-body">
                        <dl class="row mb-0">
                            <dt class="col-sm-2">อาคาร</dt>
                            <dd class="col-sm-10">อาคารที่พักข้าราชการศาลยุติธรรม ซอยเสนานิคม 1</dd>

                            <dt class="col-sm-2">ห้องที่</dt>
                            <dd class="col-sm-4">A110</dd>
                            <dt class="col-sm-2">ตึก</dt>
                            <dd class="col-sm-4">อาคาร A</dd>

                            <dt class="col-sm-2">สัญญาเลขที่</dt>
                            <dd class="col-sm-4">144/2561</dd>
                            <dt class="col-sm-2">วันที่ทำสัญญา</dt>
                            <dd class="col-sm-4">30 มีนาคม 2561</dd>

                            <dt class="col-sm-2">เข้าอยู่วันที่</dt>
                            <dd class="col-sm-4">1 เมษายน 2561</dd>
                            <dt class="col-sm-2">ย้ายออกวันที่</dt>
                            <dd class="col-sm-4">31 มีนาคม 2565</dd>

                            <dt class="col-sm-2">เอกสารสัญญา</dt>
                            <dd class="col-sm-10"><a href="#">1. เอกสารสัญญาการเข้าพักเลขที่่ 144/2561</a></dd>
                        </dl>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header bg-dark text-white header-elements-inline">
                        <h6 class="card-title">ข้อมูลผู้พักอาศัย</h6>
                    </div>

                    <div class="card-body">
                        <dl class="row mb-0">
                            <dt class="col-sm-2">ชื่อ-นามสกุล</dt>
                            <dd class="col-sm-10">นายสวัสดี มีโชค</dd>

                            <dt class="col-sm-2">ตำแหน่ง</dt>
                            <dd class="col-sm-4">นิติกร</dd>
                            <dt class="col-sm-2">ประเภท</dt>
                            <dd class="col-sm-4">วิชาการ</dd>

                            <dt class="col-sm-2">ระดับ</dt>
                            <dd class="col-sm-4">ปฏิบัติการ</dd>
                            <dt class="col-sm-2">หน่วยงาน</dt>
                            <dd class="col-sm-4">สำนักส่งเสริมงานตุลาการ</dd>
                        </dl>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>
<!-- /content -->

<%- include('__footer') %>