<%- include('__header') %>
<%- include('__header_end') %>

<!-- content -->
<div class="row">
    <div class="col-12">

        <div class="card">
            <div class="card-header header-elements-inline">
                <h6 class="card-title">ข้อมูลบัญชีผู้ใช้</h6>
            </div>

            <div class="card-body py-0">
                <br>
                <br>
                <br>
            </div>
        </div>

    </div>

</div>
<!-- /content -->

<%- include('__footer') %>